#header{
    background-color: rgb(189, 45, 45);
    text-align: center;
    padding: ;
    }

.jumbotron{
    background-color: aquamarine;
}

.jumbotron h1{
    text-align: center;
}


.jumbotron  p{
    text-align: center;
}

.weatherdata{
    width: 800px;
    
    position: sticky;
    text-align: center;
    border-style: dashed;
    
    flex-wrap: wrap;
}